.top {border:2px solid black;
	padding:10px;
	background:#FFB4B0;
	width:895px;
	height: 50px;
	margin :10px;}
.left { border: 2px solid black;
	padding:10px;
	background:#4DD7FA; 
	float:left;
	width:250px;
	height:400px;
	margin: 10px;
	padding-bottom:10px;}

.visible 
	{display:flex;}
.hidden{
	display:none;}

.right{background:#FEFAC0;
	padding:10px;
	border:2px solid black;
	width:600px;
	height:400px;
	margin:10px;
	float:left;
}
.right div:nth-child(even){
	background:#FFF5EE;
}
.right div:nth-child(odd){
	background:#F5FFFA;
}
.right div:first-child{
	font-weight:bold;
}
.right h1 {color:#785616;}
body{ margin:10px; }
.addForm li{	display:block;
				padding:5px;}
.addForm {		margin-left:30%;}
.addForm li input{display:inline-block}

.buttons ul{list-style-type:none;
		display:inline-block;
		float:left;}
.filter {margin-left:35%;
	border: 2px solid black;
	width:30%;}
.left select{width:90%;
		border: 2px solid black;}
.range {width:90%;}




